[Desktop Entry]
Name=Klavaro
Comment=Touch typing tutor
Exec=klavaro
Type=Application
Terminal=false
Categories=GTK;Education;
Icon=klavaro
# vi: encoding=utf-8
